@use "../utils/" as *;

.Cart {
  display: flex;

  p {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.CartItem {
  display: flex;
  width: 98%;
  min-height: 20vh;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  img {
    width: 200px;
    height: 180px;
    object-fit: contain;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0.2rem;
    margin-bottom: 10px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 3;
  margin-left: 20px;
  color: $color-tone;

  h5 {
    display: flex;
    margin-top: 20px;
    font-size: 1.2rem;
    color: $color-tone;
    align-items: center;
  }

  p {
    margin-left: 5px;
    color: $color-tone;
  }
}

.itemList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding: 0.2rem;
    border-radius: 50%;
    background: none;
    border: 1px solid $color-accent;
    color: $color-primary;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background: darken($color-accent, 20%);
      color: white;
    }
  }
}

.amount {
  color: $color-primary;
  font-size: 1.3rem;
  font-weight: bold;
}

.delete {
  position: absolute;
  display: block;
  top: 75%;
  left: 0%;
  background: $color-accent;
  color: white;
  height: 50px;
  width: 100px;
  border: none;
  
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background: darken($color-accent, 20%);
  }
}

.visible {
  display: block;
}

.products-wrapper h4 {
  color: black;
  font-weight: lighter;
  font-weight: bold;
}

.cart-main {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
