@use "../utils/" as *;

.Cart {
  display: flex;

  p {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.CartItem {
  display: flex;
  align-items: center;
  min-height: 20vh;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  img {
    @include breakpoint(sm) {
      height: 150px;
    }
    @include breakpoint(md) {
      height: 200px;
    }
    @include breakpoint(lg) {
      height: 200px;
    }

    width: auto;
    aspect-ratio: 1;
    border: 1px solid $color-secondary;
    border-radius: 10px;
    padding: 0.2rem;
    margin-bottom: 10px;
    transition: all 0.8s ease-in-out;
  }
}

.addToCart {
  display: flex;
  min-height: 80px;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}

.add {
  padding: 14px 20px;
  background-color: $color-accent;
  color: white;
  white-space: nowrap;
  border: none;
  font-family: Lato, Open-Sans;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($color-accent, 20%);
  }
}

.details {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 3;
  margin-left: 20px;
  color: $color-dark;

  h2 {
    display: flex;
    flex-direction: row;
    font-family: Prata, Open-Sans;
    padding: 8px 0 0;
    line-height: 1.4;
  }
  h4 {
    padding: 12px 0 6px;
  }

  h5 {
    padding: 20px 0 0;
  }

  p {
    margin-left: 5px;
    color: $color-dark;
  }
}

.itemList {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  right: 0;
  top: -40px;
  margin: 0 20px;
  transition: all 0.8s ease-in-out;

  button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding: 0.2rem;
    border-radius: 50%;
    background: none;
    border: 1px solid $color-accent;
    color: $color-primary;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background: darken($color-accent, 20%);
      color: white;
    }
  }

  p {
    line-height: 2;
  }
}

.amount {
  color: $color-primary;
  font-size: 1.3rem;
  font-weight: bold;
}

.deleteFromCart {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  justify-content: flex-end;
}

.delete {
  padding: 14px 20px;
  background: $color-accent;
  position: absolute;
  right: -55px;
  bottom: 18px;
  color: white;
  border: none;
  font-family: Lato, Open-Sans;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background: darken($color-accent, 20%);
  }
}

.visible {
  display: block;
}

.products-wrapper h4 {
  color: black;
  font-weight: lighter;
  font-weight: bold;
}

.cart-main {
  margin: auto;
  display: flex;
  justify-content: space-between;

  @include breakpoint(sm) {
    flex-direction: column;
  }

  @include breakpoint(md) {
    flex-direction: column;
  }

  @include breakpoint(lg) {
    flex-direction: row;
  }
}

h2 {
  color: darken($color-accent, 10%);
}
h1 {
  color: darken($color-accent, 10%);
}
