.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin-top: auto;

  p {
    font-size: 17px;
    color: #4caf50;
  }

  &-container {
    display: flex;
    flex-direction: column;
  }
}
