@use "../utils/" as *;

.header-container {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  top: 0;
  z-index: 99;
  position: sticky;
}

.background {
  background-color: $color-secondary;
  background-image: url("../../src/assets/images/bg5.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}

.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  h1 {
    color: $color-light;
  }
}

.header-logo-button {
  position: relative;
  background: white;
  border-radius: 50%;
  transform: rotate(-8deg);
  transition: height 1s, width 1s;

  &:focus-visible {
    color: white;
    background: $color-accent;
    outline: solid 3px $color-primary;
    outline-offset: 6px;
    box-shadow: 0 0 2px 12px white;
  }
}

.header-button {
  // display: flex;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: $color-primary;
  color: white;
  padding: 0.75rem 1.5rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  margin: 0 0 6px;
  transition: background 0.4s, outline 0.2s, box-shadow 0.2s;

  &:hover,
  &:focus-visible {
    background: $color-accent;
    outline: solid 3px $color-primary;
    outline-offset: 3px;
    box-shadow: 0 0 1px 9px white;
  }

  &:hover &-badge {
    color: darken($color-primary, 10%);
  }

  &-badge {
    display: inline-block;
    position: relative;
    background: white;
    height: $icon-size;
    width: $icon-size;
    top: -2px;
    border-radius: 50%;
    margin-left: 1rem;
    text-align: center;
    color: $color-primary;
    line-height: 28px;
  }
}
