@use "../utils/" as *;

$header-height: calc($logo-height + 20px);

.header-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

  h1 {
    color: $color-light;
  }
}

.header-logo-button {
  border-radius: 50%;
  height: $logo-height;

  &:hover,
  &:focus-visible {
    outline: solid 2px $color-light;
    outline-offset: 3px;
  }
}

.header-button {
  display: flex;
  position: relative;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: $color-primary;
  color: white;
  padding: 0.75rem 1.5rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;

  &:hover {
    background-color: darken($color-primary, 10%);
    outline: solid 2px $color-light;
    outline-offset: 3px;
  }

  &:hover &-badge {
    color: darken($color-primary, 10%);
  }

  &:focus-visible {
    outline: solid 2px $color-light;
    outline-offset: 3px;
  }
  .bump {
    animation: bump 300ms ease-out;
  }

  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

  &-badge {
    background: $color-light;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 0.6rem;
    text-align: center;
    color: $color-primary;
  }
}
