@use "../utils/" as *;
@use "../components/header" as *;

.nav-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 1s ease-in-out;

  ul {
    display: flex;
    color: $color-light;
    list-style: none;
    transition: all 1s ease-in-out;
  }

  li {
    a {
      color: $color-dark;
      background: white;
      border-radius: 35px;
      padding: 4px 16px;
      text-decoration: none;
      font-size: 20px;
      outline: transparent;
      transition: background 0.4s, outline 0.2s, box-shadow 0.2s;

      &:focus-visible,
      &:hover {
        color: white;
        background: $color-accent;
        outline: solid 3px $color-primary;
        outline-offset: 3px;
        box-shadow: 0 0 1px 9px white;
      }
    }
  }
}
