@use "../utils/" as *;
@use "../components/header" as *;

.nav-container {
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 8px 0;
  justify-content: center;
  z-index: 99;

  ul {
    display: flex;
    flex-direction: row;
    color: $color-light;
    list-style: none;
    width: 800px;
    justify-content: space-evenly;
  }

  li > a {
    color: $color-dark;
    background: $color-light;
    border-radius: 35px;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 20px;
    outline: transparent;
    transition: background 0.4s, outline 0.2s;

    &:focus-visible,
    &:hover {
      color: white;
      background: $color-tone;
      outline: solid 3px $color-dark;
      outline-offset: 3px;
    }
  }
}
