@use "colors" as *;

$logo-height: 180px !default;
// $header-height: calc($logo-height + 20px);

$header-width-lg: 1000px;
$header-width-md: 600px;
$header-width-sm: 400px;

$core-breakpoints: (
  sm: 1px,
  md: 640px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px,
);

@function get($map, $value) {
  $r: map-get($map, $value);

  @if $r != null {
    @return $r;
  }

  @debug "Error when using function get()";
  @debug "Could not find value in map.";
  @debug "$VALUE:" + $value;
  @debug "----";
  @debug "$MAP";
  @debug "----";
  @debug $map;
  @debug "----";
  @debug "----";
  @debug "----";

  @error $value + " is not available in $map.";
}

@mixin breakpoint($value) {
  $str: "min-width: " + get($core-breakpoints, $value);
  @media only screen and (#{$str}) {
    @content;
  }
}

.main-container {
  margin-top: 20px;
  transition: max-width 1s;
  @include breakpoint("sm") {
    max-width: $header-width-sm;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint("md") {
    max-width: $header-width-md;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint("lg") {
    max-width: $header-width-lg;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-wrapper {
  transition: max-width 1s;

  @include breakpoint("sm") {
    max-width: $header-width-sm;
    margin-left: auto;
    margin-right: auto;

    .header-logo-button {
      $logo-height: 120px;

      height: $logo-height;
      width: calc(1417 / 1086 * $logo-height + 4px);
    }
  }

  @include breakpoint("md") {
    max-width: $header-width-md;
    margin-left: auto;
    margin-right: auto;

    .header-logo-button {
      $logo-height: 150px;
      height: $logo-height;
      width: calc(1417 / 1086 * $logo-height + 4px);
    }
  }

  @include breakpoint("lg") {
    max-width: $header-width-lg;
    margin-left: auto;
    margin-right: auto;

    .header-logo-button {
      $logo-height: 180px;
      height: $logo-height;
      width: calc(1417 / 1086 * $logo-height + 4px);
    }
  }
}

.nav-container {
  // transition: justify-content 1s;

  @include breakpoint("sm") {
    justify-content: flex-end;
    right: 0;
    left: none;
  }

  @include breakpoint("md") {
    justify-content: flex-end;
    left: 0;
    right: 0;
  }
  @include breakpoint("lg") {
    justify-content: center;
    left: 0;
    right: 0;
  }
}

.background {
  @include breakpoint(sm) {
    background-position-x: 40%;
    background-position-y: 100%;
  }
  @include breakpoint(md) {
    background-position-y: 70%;
  }
  @include breakpoint(lg) {
    background-position-y: 70%;
  }
  @include breakpoint(xl) {
    background-position-y: 70%;
  }
}
