@use "colors" as *;

$header-width-lg: 1000px;
$header-width-md: 600px;
$header-width-sm: 400px;

$core-breakpoints: (
  sm: 1px,
  md: 640px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px,
);

@function get($map, $value) {
  $r: map-get($map, $value);

  @if $r != null {
    @return $r;
  }

  @debug "Error when using function get()";
  @debug "Could not find value in map.";
  @debug "$VALUE:" + $value;
  @debug "----";
  @debug "$MAP";
  @debug "----";
  @debug $map;
  @debug "----";
  @debug "----";
  @debug "----";

  @error $value + " is not available in $map.";
}

@mixin breakpoint($value) {
  $str: "min-width: " + get($core-breakpoints, $value);
  @media only screen and (#{$str}) {
    @content;
  }
}

.main-container {
  transition: max-width 1s;
  @include breakpoint("sm") {
    max-width: $header-width-sm;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint("md") {
    max-width: $header-width-md;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint("lg") {
    max-width: $header-width-lg;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-wrapper {
  transition: max-width 1s;

  @include breakpoint("sm") {
    max-width: $header-width-sm;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint("md") {
    max-width: $header-width-md;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint("lg") {
    max-width: $header-width-lg;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-container {
  transition: max-width 1s;

  @include breakpoint("sm") {
    max-width: $header-width-sm;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint("md") {
    max-width: $header-width-md;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint("lg") {
    max-width: $header-width-lg;
    margin-left: auto;
    margin-right: auto;
  }
}

.background {
  @include breakpoint(sm) {
    background-position-x: 40%;
    background-position-y: -80px;
  }
  @include breakpoint(md) {
    // background-position-y: 180%;
  }
  @include breakpoint(lg) {
    background-position-y: 150%;
  }
  @include breakpoint(xl) {
    background-position-y: 120%;
  }
}
