// $color-primary: #fc7d52;
// $color-secondary: #53445f;
// $color-light: #fbf2c9;
// $color-accent: #aff59f;
// $color-dark: #363636;
// $color-blue: #6ea4bf;
// $color-shadow: #86bbd8;

$color-primary: #af6a4d;
$color-secondary: #d8bf99;
$color-light: #f4ecdf;
$color-tone: #94bfa0;
$color-accent: #f6c445;
$color-dark: #363636;
