.checkout {
  position: sticky;
  top: 30px;
  width: 300px;
  height: 70vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.checkout h1 {
  font-size: 1rem;
}

.checkout h4 {
  display: flex;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.checkout button {
  width: 250px;
  padding: 1rem 1rem;
  margin-top: 10px;
  background: darkorange;
  border: none;
  color: white;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.checkout button:hover {
  background: rgba(230, 132, 12);
}

.description {
  margin-top: 10px;
  background: rgba(255, 166, 0, 0.753);
  padding: 0.5rem 1rem;
  color: white;
  text-align: justify;
}

.cargoamount,
.ordertotal {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  font-weight: bold;
}

.money {
  display: flex;
  align-items: center;
}

.money p {
  font-size: 1.7rem;
  font-weight: bold;
}

.freeshipping {
  font-weight: bold;
  color: green;
  font-size: 1rem;
  display: none;
}

.cargopricedelete {
  text-decoration: line-through;
}

.visible {
  display: block;
  text-decoration: none;
  width: 100px;
}
